extends layout 

block content
    h1 Sneaking around? 
    br
    h3 You do not have user permissions to view this page please return 
    h3 
        a(href="/") HOME
    h2 or 
    h3 
        a(href="/users/login") LOGIN