doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  include ./partials/navbar
  br

  body
  block content
  br
  footer 
    p= "Better Eats is a trademark of the CPAN 212 Holding Group ©"
