extends layout 

block content

    if errors
        each error in errors 
            p(style="color:red") #{error.msg}

    h1 Popular Restaurants you can look at
    label Link 1:
    a(href="http://www.laviniarestaurant.com/") LaVinia Restaurant
    br
    label Link 2:
    a(href="https://www.thecasamadera.com/") The Casa Madera
    br
    label Link 3:
    a(href="https://alorestaurant.com/") Alo
    br
    label Link 4:
    a(href="https://georgeonqueen.com/") George on Queen
    br
    label Link 5:
    a(href="http://houseonparliament.com/") House on Parliament
    br