nav
    a(href="/") Home
    if user
        a(href="/app/add") Add Restaurant
        a(href="/users/logout") Logout
        a(href="/app/poprestaurants") Popular Restaurants
    else
        a(href="/users/register") Register 
        a(href="/users/login") Login 
